<%- include('../partials/header') %>
  <div class="login-container">
    <h1 class="login-title">Đăng nhập</h1>
    <% if (error) { %>
      <div class="alert alert-danger">
        <%= error %>
      </div>
      <% } %>
        <form action="/login" method="POST">
          <div class="mb-3">
            <label class="form-label">Tên đăng nhập</label>
            <input type="text" class="form-control" name="username" required />
          </div>
          <div class="mb-3">
            <label class="form-label">Mật khẩu</label>
            <input type="password" class="form-control" name="password" required />
          </div>
          <button type="submit" class="btn btn-primary w-100">Đăng nhập</button>
        </form>
  </div>
  <%- include('../partials/footer') %>