<%- include('../../partials/header') %>
<h1>New Tour</h1>
<form action="/admin/tours" method="POST">
  <div><label>Title</label><input type="text" name="title" required /></div>
  <div><label>Price</label><input type="number" name="price" required step="0.01" /></div>
  <div><label>Description</label><textarea name="description"></textarea></div>
  <button type="submit">Create</button>
</form>
<%- include('../../partials/footer') %>
